/**
 * Syntax highlighting styles
 */
.highlight {
  background: #2B2B2B;
  @extend %vertical-rhythm;
  
  .c     { color: #998; font-style: italic } // Comment
  .err   { color: #a61717; } // Error
  .k     { color: #CC7832; font-weight: bold } // Keyword
  .o     { color: #A9B7C6; font-weight: bold } // Operator
  .cm    { color: #998; font-style: italic } // Comment.Multiline
  .cp    { color: #999; font-weight: bold } // Comment.Preproc
  .c1    { color: #629755; font-style: italic } // Comment.Single
  .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #000; } // Generic.Deleted
  .gd .x { color: #000; } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #a00 } // Generic.Error
  .gh    { color: #999 } // Generic.Heading
  .gi    { color: #000; } // Generic.Inserted
  .gi .x { color: #000; } // Generic.Inserted.Specific
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .kc    { color: #CC7832; font-weight: bold } // Keyword.Constant
  .kd    { color: #CC7832; font-weight: bold } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: #CC7832; font-weight: bold } // Keyword.Type
  .m     { color: #099 } // Literal.Number
  .s     { color: #629755; } // Literal.String
  .na    { color: #A9B7C6; } // Name.Attribute
  .nb    { color: #0086B3 } // Name.Builtin
  .nc    { color: #A9B7C6; font-weight: bold } // Name.Class
  .nd    { color: #BBB529;}
  .no    { color: #008080 } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: #900; font-weight: bold } // Name.Exception
  .nf    { color: #FFC66D; font-weight: bold } // Name.Function
  .nn    { color: #A9B7C6; } // Name.Namespace
  .nt    { color: #E8BF6A } // Name.Tag
  .nv    { color: #008080 } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: #bbb } // Text.Whitespace
  .mf    { color: #099 } // Literal.Number.Float
  .mh    { color: #6897BB; } // Literal.Number.Hex
  .mi    { color: #6897BB;} // Literal.Number.Integer
  .mo    { color: #099 } // Literal.Number.Oct
  .sb    { color: #d14 } // Literal.String.Backtick
  .sc    { color: #698759;} // Literal.String.Char
  .sd    { color: #d14 } // Literal.String.Doc
  .s2    { color: #629755 } // Literal.String.Double
  .se    { color: #d14 } // Literal.String.Escape
  .sh    { color: #d14 } // Literal.String.Heredoc
  .si    { color: #629755 } // Literal.String.Interpol
  .sx    { color: #d14 } // Literal.String.Other
  .sr    { color: #009926 } // Literal.String.Regex
  .s1    { color: #629755 } // Literal.String.Single
  .ss    { color: #990073 } // Literal.String.Symbol
  .bp    { color: #999 } // Name.Builtin.Pseudo
  .vc    { color: #008080 } // Name.Variable.Class
  .vg    { color: #008080 } // Name.Variable.Global
  .vi    { color: #008080 } // Name.Variable.Instance
  .il    { color: #099 } // Literal.Number.Integer.Long
}
.highlighter-rouge {
  background: #f8f8f8;
  border-bottom-color: rgb(204, 204, 204);
  border-top-color: rgb(204, 204, 204);;
  border-right-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  margin-left: 4px;
  margin-right: 4px;
  color: #800;
}